/.vscode
/Benchmarks
/Bin
/License
/Redist
/build/Cell.o
/build/functions.o
/build/Generation.o
/build/main.o
/build/sequential.exe
/build/main_sequential.o
/build/main_parallel.o
/build/parallel
/build/sequential
/debug/*.csv